.row {
    margin: 0px 0px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  
  .row-container > h1 {
    font-weight: 600;
    padding: 20px 20px;
    color: #fff;
  }
  
  .cards {
    margin: 30px 0px;
    display: flex;
    gap: 20px; /* Adjust gap between cards */
    align-items: center;
    perspective: 1000px;
    /* overflow-x: visible; Allow cards to extend beyond row */
  }
  